{{- if .Values.api.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hodei-jobs.fullname" . }}-api
  labels:
    {{- include "hodei-jobs.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  {{- with .Values.api.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "hodei-jobs.api.selectorLabels" . | nindent 4 }}
{{- end }}
