{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "hodei-jobs-platform.fullname" . }}
  labels:
    {{- include "hodei-jobs-platform.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.serviceMonitor.annotations | nindent 4 }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "hodei-jobs-platform.selectorLabels" . | nindent 6 }}
{{- end }}
