{{- if and .Values.externalSecrets.enabled .Values.externalSecrets.secretStore.create }}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ .Values.externalSecrets.secretStore.name }}
  labels:
    {{- include "hodei-jobs-platform.labels" . | nindent 4 }}
spec:
  provider:
    {{- if eq .Values.externalSecrets.secretStore.provider "aws" }}
    aws:
      service: SecretsManager
      region: {{ .Values.externalSecrets.secretStore.aws.region }}
      {{- if .Values.externalSecrets.secretStore.aws.roleArn }}
      role: {{ .Values.externalSecrets.secretStore.aws.roleArn }}
      {{- end }}
    {{- else if eq .Values.externalSecrets.secretStore.provider "gcp" }}
    gcpsm:
      projectID: {{ .Values.externalSecrets.secretStore.gcp.project }}
    {{- else if eq .Values.externalSecrets.secretStore.provider "azure" }}
    azurekv:
      tenantId: {{ .Values.externalSecrets.secretStore.azure.tenantId }}
      clientId: {{ .Values.externalSecrets.secretStore.azure.clientId }}
      vaultUrl: https://{{ .Values.externalSecrets.secretStore.azure.vaultName }}.vault.azure.net
    {{- else if eq .Values.externalSecrets.secretStore.provider "vault" }}
    vault:
      server: {{ .Values.externalSecrets.secretStore.vault.server }}
      path: {{ .Values.externalSecrets.secretStore.vault.path }}
      version: "v2"
      auth:
        kubernetes:
          mountPath: {{ .Values.externalSecrets.secretStore.vault.auth }}
          role: {{ .Values.externalSecrets.secretStore.vault.role }}
    {{- end }}
---
{{- range .Values.externalSecrets.secrets }}
{{- $secretPath := printf "%s/%s" $.Values.externalSecrets.secretStore.name .secretPath }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "hodei-jobs-platform.fullname" $ }}-{{ .name | lower }}
  labels:
    {{- include "hodei-jobs-platform.labels" $ | nindent 4 }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ $.Values.externalSecrets.secretStore.name }}
    kind: ClusterSecretStore
  target:
    name: {{ .name }}
    creationPolicy: Owner
  data:
    {{- range .data }}
    - secretKey: {{ .property }}
      remoteRef:
        key: {{ $.Values.externalSecrets.secretStore.name }}/{{ .key }}
        property: {{ .property }}
    {{- end }}
---
{{- end }}
{{- end }}
