apiVersion: v1
kind: Service
metadata:
  name: {{ include "hodei-jobs-platform.fullname" . }}
  labels:
    {{- include "hodei-jobs-platform.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "hodei-jobs-platform.selectorLabels" . | nindent 4 }}
